
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: green;
	color: white;
	padding: 10px 20px;
  }

  
.headlogo {
	height: 50px;
	width: 75px;
  }
  
  .company-name {
	font-size: 35px;
	font-weight: bolder; 
	color: white;
  }
  
  .signup-button {
	background-color: white;
	color: green;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
  }
  