.body {
    width: 100%;
  }
  
  .first-section {
    display: flex;
    height: 50%;
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .left-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }
  
  .testimonial-image {
    width: 350px;
    height: 200px;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  
  .quote {
    font-size: 30px;
    margin-bottom: 20px;
    font: message-box;
    padding-top: 40px;
  }
  
  .buttons {
    display: flex;
  }
  
  .login-button,
  .signup-button {
    background-color: #26cd26;
    color: white;
    border: black;
    border-width: 1ch;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .second-section {
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .landlogo {
    height: 200px;
    width: 200px;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .vision-container,
  .mission-container {
    text-align: center;
    background-color: yellowgreen;
    border-radius: 50px;
    border: solid 35px white;
  }
  
  .vision-container h2,
  .mission-container h2 {
    margin-bottom: 20px;
    margin-top: 0;
  }
  