.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgreen;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-field {
    margin-bottom: 15px;
  }
  
  .form-field input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .signup-option {
    margin-top: 20px;
  }
  
  .signup-option a {
    color: white;
    text-decoration: underline;
  }
  #signuplink{
    color: black;
  }
  
  .success{
    text-align: center;
    color: green;
    font-weight: bold;
  }

  
  .error{
    text-align: center;
    color: red;
    font-weight: bold;
  }