/* DriverRegistration.css */

.total {
    display: flex;
    flex-direction: row;
  }
  
  .left-side {
    flex: 1;
    padding: 20px;
  }
  
  .right-side {
    flex: 1;
  }
  
  .car-image {
    width: 170%;
    max-width: 600px;
    height: 50%;
  }
  
  .dabba {
    max-width: 400px;
  padding: 20px;
  border: solid yellowgreen 2px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  }
  
  .form-field {
    margin-bottom: 15px;
  }
  
  .form-field label {
    display: block;
    font-weight: bold;
  }
  
  .form-field input,
  .form-field textarea,
  .form-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-field textarea {
    resize: vertical;
  }
  
  .form-submit button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  #egdriverconlink{
    color: white;
  }
  /* Additional styles as needed */

  .success{
    text-align: center;
    color: green;
    font-weight: bold;
  }

  .error{
    text-align: center;
    color: red;
    font-weight: bold;
  }
  