

/**************** Landing page body styling **************/ 
.body {
  width: 100%;
}

.first-section {
  display: flex;
  height: 50%;
  background-color: green;
  color: white;
}

.left-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-image {
  width: 200px;
  height: 200px;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.quote {
  font-size: 20px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
}

.login-button,
.signup-button {
  background-color: white;
  color: green;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.second-section {
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 200px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.vision-container,
.mission-container {
  text-align: center;
}

.vision-container h2,
.mission-container h2 {
  margin-bottom: 10px;
}

/*************** Styling for footer ********************************/
/* import styled from 'styled-components'; */
   
.bodyfoot {
	padding: 70px 50px;
	background: green;
	position: absolute;
	bottom: 0;
	width: 90%;
	padding: 60px 20px;
	max-width: 1000px
  };
	 
  .containerfoot {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
  }; 
	 
  .colfoot {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 60px;
  }; 
	 
  .rowfoot {
	display: grid;
	grid-template-columns: repeat(auto-fill, 
						   minmax(185px, 1fr));
	grid-gap: 20px;
	 
	@media (max-width: 1000px) {
	  grid-template-columns: repeat(auto-fill, 
							 minmax(200px, 1fr));
	}
  }
	 
  .linkfoot{
	color: #fff;
	margin-bottom: 20px;
	font-size: 18px;
	text-decoration: none;
	&:hover {
		color: black;
		transition: 200ms ease-in;
	}
  }
	 
  .headfoot{
	font-size: 24px;
	color: #fff;
	margin-bottom: 40px;
	font-weight: bold;
  }
  
/*************** Header styling ***************************/

  .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: green;
	color: white;
	padding: 10px 20px;
  }

  
.logo {
	height: 40px;
  }
  
  .company-name {
	font-size: 20px;
	font-weight: bold;
  }
  
  .signup-button {
	background-color: white;
	color: green;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
  }
  
  