/* unable to update the .form-gield input width from 100% to 95%, on signup.css and login.css page */
/* need to check for the auto adjusted height of signup form */ 
/* Let's ride does not change in header */
/* Might have to edit the logo in footer */  

body{
    margin: 0px;
}

button a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}