
   
.bodyfoot {
  padding: 70px 50px;
  background: green;
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 60px 20px;
  max-width: 1000px
};
   
.containerfoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}; 
   
.colfoot {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}; 
   
.rowfoot {
  display: grid;
  grid-template-columns: repeat(auto-fill, 
                         minmax(185px, 1fr));
  grid-gap: 20px;
   
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
  }
}
   
.linkfoot{
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
  &:hover {
      color: black;
      transition: 200ms ease-in;
  }
}
   
.headfoot{
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: bold;
}
